<div class=" container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @*BANNER*@
            <br />
            <section style="background-color: black">
                <div class="panel-heading">
                    <hgroup>
                        <h1 class="text-left" style="color: goldenrod"><b>QUIENES SOMOS</b></h1>
                    </hgroup>
                </div>
            </section>

            @*SLIDE*@
            <div id="mySlider" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#mySlider" data-slide-to="0" class="active"></li>
                    <li data-target="#mySlider" data-slide-to="1"></li>
                    <li data-target="#mySlider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active ">
                        <img alt="First slide" src="~/Images/Somos1.jpg" wi />
                    </div>
                    <div class="item">
                        <img alt="Second slide" src="~/Images/Somos2.jpg" />
                    </div>
                    <div class="item">
                        <img alt="second slide" src="~/Images/Somos3.jpg" />
                    </div>
                </div>
                <a class="left carousel-control" href="#mySlider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#mySlider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

           <div id="small-form" class="btn-warning" style="color :white">

                    @*Quienes Somos*@
                    <h2 class="glyphicon glyphicon-check  "> <b><u> Quienes Somos:</u></b> </h2>
               <div class="container">
                   <br />
                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       <div class="panel-primary ">
                           <img src="~/Images/quienes.jpg" class="col-xs-4 col-sm-4 col-md-12 col-lg-12 img-responsive img-thumbnail" alt="Ventas">
                           <div class="clearfix"></div>
                       </div>
                   </div>
                   <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                       <div class="panel-primary ">
                           <div class="col-sm-12">
                               <h4 class="text-justify">
                                   La compañía Transportes EDVI E.I.R.L. identificada con el RUC 20496157444 es una empresa  especializada en el rubro de transpotes y servicios
                                   situada en la ciudad de Cajamarca, fundada el 01 de octubre del año 2009 por el señor Sanchez Terrones Segundo Casimiro, se cuenta
                                   con experiencia en el rubro de transportes de carga por carretera.Si desea conocer mas, con gusto lo atenderemos por teléfono. Estamos para servirlos!
                               </h4>
                           </div>
                       </div>
                   </div>

               </div>
                    @*Visions*@
                    <h2 class="glyphicon glyphicon-check  "> <b><u> Vision:</u></b> </h2>
               <div class="container">
                   <br />
                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       <div class="panel-primary ">
                           <img src="~/Images/vision.jpg" class="col-xs-4 col-sm-4 col-md-12 col-lg-12 img-responsive img-thumbnail" alt="Ventas">
                           <div class="clearfix"></div>
                       </div>
                   </div>
                   <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                       <div class="panel-primary ">
                           <div class="col-sm-12">
                               <h4 class="text-justify">
                                   Ser una empresa lider en el norte del País en el rubro de trasportes y servicios, brindando servicios  y soluciones
                                   de alta calidad con valores y responsabilidad social, contribuyendo al desarrollo del cliente en un ambiente moderno.
                               </h4>
                           </div>
                       </div>
                   </div>
               </div>
                    @*Mision*@
                    <h2 class="glyphicon glyphicon-check  "> <b><u> Mision:</u></b> </h2>
                    <div class="container">
                        <br />
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="panel-primary ">
                                <img src="~/Images/mision.jpg" class="col-xs-4 col-sm-4 col-md-12 col-lg-12 img-responsive img-thumbnail" alt="Ventas">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            <div class="panel-primary ">
                                <div class="col-sm-12">
                                    <h4 class="text-justify">
                                        Ser una empresa comprometida en impulsar a nuestros clientes hacia el éxito, ofreciendo servicios y soluciones de alta calidad
                                        basados en trasportes y servicios de vanguardia contribuyendo al desarrollo sustentable del negocio,con principios morales, valores éticos, 
                                        liderazgo, y con un alto compromiso con el ambiente.
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Valores*@
                    <h2 class="glyphicon glyphicon-check  "> <b><u> Valores:</u></b> </h2>
               <div class="container">
                   <br />
                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       <div class="panel-primary ">
                           <img src="~/Images/valores.jpg" class="col-xs-4 col-sm-4 col-md-12 col-lg-12 img-responsive img-thumbnail" alt="Ventas">
                           <div class="clearfix"></div>
                       </div>
                   </div>
                   <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                       <div class="panel-primary ">
                           <div class="col-sm-12">
                               <h4 class="text-justify">
                                   <b>Disciplina:</b>
                                   Puntualidad, conciencia, objetivos,respeto y patrimonio.
                               </h4>

                               <h4 class="text-left">
                                   <b>Autocrítica:</b>
                                   Conocimientos para evolucionar como empresa.
                               </h4>

                               <h4 class="text-left">
                                   <b>Pro actividad:</b>
                                   Prever y actuar positivamente frente a los problemas.
                               </h4>

                               <h4 class="text-left">
                                   <b>Perseverancia:</b>
                                   Luchar contra las adversidades que se puedan presentar.
                               </h4>

                               <h4 class="text-left">
                                   <b>Responsabilidad:</b>
                                   Contribuir con el desarrollo del entorno.
                               </h4>

                           </div>
                        </div>
                   </div>
               </div>
                    @*Ubicacion*@
                    <h2 class="glyphicon glyphicon-check  "> <b><u> Ubicacion:</u></b> </h2>
                    <div class="container">
                        <br />
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="panel-primary ">
                                <img src="~/Images/ubi.jpg" class="col-xs-4 col-sm-4 col-md-12 col-lg-12 img-responsive img-thumbnail" alt="Ventas">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <div class="panel-primary ">
                                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                                    <h4 class="text-justify">
                                        Jr. 4 de diciembre # 135 br San Martin
                                    </h4>
                                    <h4 class="text-left">
                                        Cajamarca - Cajamarca - Cajamarca
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

             </div>

         

        </div>
    </div>
</div>
