<div class=" container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @*BANNER*@
            <br />
            <section style="background-color: black">
                <div class="panel-heading">
                    <hgroup>
                        <h1 class="text-left" style="color: goldenrod"><b>CONTACTENOS</b></h1>
                    </hgroup>
                </div>
            </section>

            @*SLIDE*@
            <div id="mySlider" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#mySlider" data-slide-to="0" class="active"></li>
                    <li data-target="#mySlider" data-slide-to="1"></li>
                    <li data-target="#mySlider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active ">
                        <img alt="First slide" src="~/Images/Contacto1.jpg" wi />
                    </div>
                    <div class="item">
                        <img alt="Second slide" src="~/Images/Contacto2.jpg" />
                    </div>
                    <div class="item">
                        <img alt="second slide" src="~/Images/Contacto3.jpg" />
                    </div>
                </div>
                <a class="left carousel-control" href="#mySlider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#mySlider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

            <div id="small-form" class="btn-warning" style="color :white">
                <div class="container">
                    <div class="row">
                        <br />
                     
                       @*Contacto*@
                        <div class="col-sm-12 col-sm-offset-0 col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading glyphicon glyphicon-list">
                                    <span class="title" style="color: black">Contactos</span>
                                </div>

                                <ul class="list-group" id="contact-list">
                                    <li class="list-group-item">
                                        <div class="col-xs-12 col-sm-3">
                                            <img src="~/Images/ed.jpg" class="img-responsive img-circle" />
                                        </div>
                                        <div class="col-xs-12 col-sm-9">
                                            <span class="btn btn-primary">Edwuard Pereda</span><br />
                                            <span class="glyphicon glyphicon-map-marker " data-toggle="tooltip" title="Direccion" style="color: black"> Jr. Hu Ca # 315 | Cajamarca</span>
                                            <br>
                                            <span class="glyphicon glyphicon-earphone " data-toggle="tooltip" title="Celular" style="color: black"> 962739511</span>
                                            <br>
                                            <span class="glyphicon glyphicon-link " data-toggle="tooltip" title="E-mail" style="color: black"> edwuardpereda@hotmail.com</span>
                                            <br>
                                            <span class="glyphicon glyphicon-comment " data-toggle="tooltip" title="Descripcion" style="color: black"> Gerente General</span>
                                            <br>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="col-xs-12 col-sm-3">
                                            <img src="~/Images/ju.jpg" class="img-responsive img-circle" />
                                        </div>
                                        <div class="col-xs-12 col-sm-9">
                                            <span class="btn btn-primary">Julio Marin</span><br />
                                            <span class="glyphicon glyphicon-map-marker " data-toggle="tooltip" title="Direccion" style="color: black"> Jr. San Ma # 780 | Cajamarca</span>
                                            <br>
                                            <span class="glyphicon glyphicon-earphone " data-toggle="tooltip" title="Celular" style="color: black"> 976485132</span>
                                            <br>
                                            <span class="glyphicon glyphicon-link " data-toggle="tooltip" title="E-mail" style="color: black"> juliomarin@hotmail.com</span>
                                            <br>
                                            <span class="glyphicon glyphicon-comment " data-toggle="tooltip" title="Descripcion" style="color: black"> Gerente de Desarrollo</span>
                                            <br>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="col-xs-12 col-sm-3">
                                            <img src="~/Images/jh.jpg" class="img-responsive img-circle" />
                                        </div>
                                        <div class="col-xs-12 col-sm-9">
                                            <span class="btn btn-primary">Jhan Rabanal</span><br />
                                            <span class="glyphicon glyphicon-map-marker " data-toggle="tooltip" title="Direccion" style="color: black"> Jr. La Esp # 530| Cajamarca</span>
                                            <br>
                                            <span class="glyphicon glyphicon-earphone " data-toggle="tooltip" title="Celular" style="color: black"> 976845216</span>
                                            <br>
                                            <span class="glyphicon glyphicon-link " data-toggle="tooltip" title="E-mail" style="color: black"> jhandrabanal@hotmail.com</span>
                                            <br>
                                            <span class="glyphicon glyphicon-comment " data-toggle="tooltip" title="Descripcion" style="color: black"> Gerente de Recursos</span>
                                            <br>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>

                                    
                                </ul>
                            </div>
                        </div>

                        @*Horario*@
                        <div class="col-sm-9 col-sm-offset-0 col-sm-5">
                            <div class="panel panel-default">
                                <div class="panel-heading glyphicon glyphicon-calendar">
                                    <span class="title" style="color: black">Horario</span>
                                </div>

                                <ul class="list-group" id="horario-list" >
                                    <li class="list-group-item">
                                        <div class="col-xs-12 col-sm-3">
                                            <img src="~/Images/horario.jpg" class="img-responsive img-circle" />
                                        </div>
                                        <div class="col-xs-12 col-sm-9">
                                            <span class="btn btn-primary">Horario de atención</span><br />
                                            <span class="glyphicon glyphicon-calendar  " data-toggle="tooltip" title="Horario" style="color: black"> Lunes - Viernes: 09:00 - 13:00 pm </span>
                                            <br>
                                            <span class="glyphicon glyphicon-calendar  " data-toggle="tooltip" title="Horario" style="color: black"> Lunes - Viernes: 16:00 - 21:00 pm </span>
                                            <br>
                                            <span class="glyphicon glyphicon-calendar  " data-toggle="tooltip" title="Horario" style="color: black"> Sabados: 09:00 - 14:00 pm </span>
                                            <br>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>